#melangees{
	display: flex;
	border:solid;
	width: 45%;
	height: 420px;	
}
#rangees{
	
	border:solid;
	height: 420px;
	width: 45%;
		
}

#win{
	color: green;
	font-size: 50px;
}

#loose{
	color:red;
	font-size: 50px;
}